In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("isl_player_final.csv")

In [3]:
df

,tour_id,tour_name,id,jersey_no,name,short_name,position_id,position,position_short,team_id,...,goaltenders.catches,goaltenders.punches,goaltenders.penalty_kicks.shots_faced,goaltenders.penalty_kicks.goals_allowed,goaltenders.penalty_kicks.saves,country_id,country_name,dob,player_foot,height
0,148,ISL6,1514,3,Asamoah Gyan,Asamoah Gyan,2,Forward,FWD,504,...,0,0,0,0,0,43,Ghana,NaN,NaN,NaN
1,148,ISL6,2475,26,Deshorn Dwayne Brown,Deshorn Brown,2,Forward,FWD,656,...,0,0,0,0,0,56,Jamaica,12/22/1990,Right,187.0
2,148,ISL6,2900,9,Amine Chermiti,Amine Chermiti,2,Forward,FWD,506,...,0,0,0,0,0,106,Tunisia,12/26/1987,left,177.0
3,148,ISL6,3753,7,Francisco Medina Luna,Piti,3,Midfielder,MF,1159,...,0,0,0,0,0,19,Spain,5/26/1981,left,179.0
4,148,ISL6,3809,4,Rafael Lopez Gomez,Rafael Lopez Gomez,1,Defender,DEF,1536,...,0,0,0,0,0,19,Spain,4/9/1985,right,183.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558,202,ISL7,144517,6,Hernan Daniel Santana Trujillo,Hernan Santana,3,Midfielder,MF,506,...,0,0,0,0,0,19,Spain,NaN,NaN,NaN
559,202,ISL7,144593,2,Scott Neville,Scott Neville,1,Defender,DEF,1102,...,0,0,0,0,0,52,Australia,NaN,NaN,NaN
560,202,ISL7,144594,4,Daniel Fox,Daniel Fox,1,Defender,DEF,1102,...,0,0,0,0,0,2,England,NaN,NaN,NaN
561,202,ISL7,144804,30,Ningombam Engson Singh,N Engson Singh,3,Midfielder,MF,1874,...,0,0,0,0,0,1,India,NaN,NaN,NaN
562,202,ISL7,145060,44,Haobam Tomba Singh,Haobam Singh,3,Midfielder,MF,1102,...,0,0,0,0,0,1,India,NaN,NaN,NaN

In [4]:
df.drop(["tour_id", "id", "name", "position_id", "position", "team_id", "team_short_name"], inplace = True, axis = 1)

In [5]:
df

,tour_name,jersey_no,short_name,position_short,team_name,is_started,is_onbench,is_goalkeeper,is_substitute,minutes_played,...,goaltenders.catches,goaltenders.punches,goaltenders.penalty_kicks.shots_faced,goaltenders.penalty_kicks.goals_allowed,goaltenders.penalty_kicks.saves,country_id,country_name,dob,player_foot,height
0,ISL6,3,Asamoah Gyan,FWD,NorthEast United FC,8,4,0,4,592,...,0,0,0,0,0,43,Ghana,NaN,NaN,NaN
1,ISL6,26,Deshorn Brown,FWD,Bengaluru FC,6,7,0,7,379,...,0,0,0,0,0,56,Jamaica,12/22/1990,Right,187.0
2,ISL6,9,Amine Chermiti,FWD,Mumbai City FC,16,6,0,5,1352,...,0,0,0,0,0,106,Tunisia,12/26/1987,left,177.0
3,ISL6,7,Piti,MF,Jamshedpur FC,6,5,0,5,416,...,0,0,0,0,0,19,Spain,5/26/1981,left,179.0
4,ISL6,4,Rafael Lopez Gomez,DEF,Hyderabad FC,6,5,0,4,395,...,0,0,0,0,0,19,Spain,4/9/1985,right,183.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558,ISL7,6,Hernan Santana,MF,Mumbai City FC,18,6,0,6,1581,...,0,0,0,0,0,19,Spain,NaN,NaN,NaN
559,ISL7,2,Scott Neville,DEF,SC East Bengal,16,2,0,0,1440,...,0,0,0,0,0,52,Australia,NaN,NaN,NaN
560,ISL7,4,Daniel Fox,DEF,SC East Bengal,16,5,0,4,1265,...,0,0,0,0,0,2,England,NaN,NaN,NaN
561,ISL7,30,N Engson Singh,MF,ATK Mohun Bagan,0,5,0,1,1,...,0,0,0,0,0,1,India,NaN,NaN,NaN
562,ISL7,44,Haobam Singh,MF,SC East Bengal,4,20,0,4,238,...,0,0,0,0,0,1,India,NaN,NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 563 entries, 0 to 562
Data columns (total 86 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   tour_name                                563 non-null    object
 1   jersey_no                                563 non-null    int64
 2   short_name                               563 non-null    object
 3   position_short                           563 non-null    object
 4   team_name                                563 non-null    object
 5   is_started                               563 non-null    int64
 6   is_onbench                               563 non-null    int64
 7   is_goalkeeper                            563 non-null    int64
 8   is_substitute                            563 non-null    int64
 9   minutes_played                           563 non-null    int64
 10  bonus_points                             563 non-null    int64
 11  injury_minutes_played                    563 non-null    int64
 12  actual_minutes_played                    563 non-null    int64
 13  goaltenders                              563 non-null    int64
 14  events.goals                             563 non-null    int64
 15  events.own_goals                         563 non-null    int64
 16  events.assists                           563 non-null    int64
 17  events.key_passes                        563 non-null    int64
 18  events.chances_created                   563 non-null    int64
 19  events.shots                             563 non-null    int64
 20  events.shots_on_target                   563 non-null    int64
 21  events.shots_off_target                  563 non-null    int64
 22  events.fouls_committed                   563 non-null    int64
 23  events.fouls_suffered                    563 non-null    int64
 24  events.yellow_cards                      563 non-null    int64
 25  events.red_cards                         563 non-null    int64
 26  events.is_second_yellow_card             563 non-null    int64
 27  events.offsides                          563 non-null    int64
 28  events.corner_kicks                      563 non-null    int64
 29  events.crosses                           563 non-null    int64
 30  events.free_kicks                        563 non-null    int64
 31  events.throw_in                          563 non-null    int64
 32  events.punches                           563 non-null    int64
 33  events.catches                           563 non-null    int64
 34  events.goals_conceded                    563 non-null    int64
 35  events.clean_sheet                       563 non-null    int64
 36  events.cleansheet                        563 non-null    int64
 37  events.fantasy_assists                   563 non-null    int64
 38  events.penalties_saved                   563 non-null    int64
 39  events.penalties_earned                  563 non-null    int64
 40  events.penalties_conceded                563 non-null    int64
 41  events.penalties_missed                  563 non-null    int64
 42  events.freekicks_conceded_goal           563 non-null    int64
 43  events.freekicks_earned_goal             563 non-null    int64
 44  events.blocked_shots                     563 non-null    int64
 45  events.defensive_blocked_shots           563 non-null    int64
 46  events.penalty_kicks.total               563 non-null    int64
 47  events.penalty_kicks.goals               563 non-null    int64
 48  touches.total                            563 non-null    int64
 49  touches.total_passes                     563 non-null    int64
 50  touches.good_passes                      563 non-null    int64
 51  touches.bad_passes                       563 non-null    int64
 52  touches.interceptions                    563 non-null    int64
 53  touches.blocks                           563 non-null    int64
 54  touches.tackles                          563 non-null    int64
 55  touches.successful_tackles               563 non-null    int64
 56  touches.unsuccessful_tackles             563 non-null    int64
 57  touches.clearance                        563 non-null    int64
 58  touches.saves                            563 non-null    int64
 59  touches.take_on_total                    563 non-null    int64
 60  touches.take_on_successful               563 non-null    int64
 61  touches.take_on_unsuccessful             563 non-null    int64
 62  touches.last_man_tackle_successful       563 non-null    int64
 63  touches.last_man_tackle_unsuccessful     563 non-null    int64
 64  touches.successful_passes                563 non-null    int64
 65  touches.interceptions_won                563 non-null    int64
 66  touches.aerial_duel.total                563 non-null    int64
 67  touches.aerial_duel.won                  563 non-null    int64
 68  touches.aerial_duel.lost                 563 non-null    int64
 69  touches.ground_duel.total                563 non-null    int64
 70  touches.ground_duel.won                  563 non-null    int64
 71  touches.ground_duel.lost                 563 non-null    int64
 72  goaltenders.shots_faced                  563 non-null    int64
 73  goaltenders.shots_on_goal_faced          563 non-null    int64
 74  goaltenders.goals_allowed                563 non-null    int64
 75  goaltenders.saves                        563 non-null    int64
 76  goaltenders.catches                      563 non-null    int64
 77  goaltenders.punches                      563 non-null    int64
 78  goaltenders.penalty_kicks.shots_faced    563 non-null    int64
 79  goaltenders.penalty_kicks.goals_allowed  563 non-null    int64
 80  goaltenders.penalty_kicks.saves          563 non-null    int64
 81  country_id                               563 non-null    int64
 82  country_name                             563 non-null    object
 83  dob                                      399 non-null    object
 84  player_foot                              310 non-null    object
 85  height                                   379 non-null    float64
dtypes: float64(1), int64(78), object(7)
memory usage: 378.4+ KB

In [7]:
cat_col = []
num_col = []

for i in df.columns:
    
    if df[i].dtypes == object:
        cat_col.append(i)
        
    else:
        num_col.append(i)

In [8]:
cat_col

['tour_name',
 'short_name',
 'position_short',
 'team_name',
 'country_name',
 'dob',
 'player_foot']

In [9]:
num_col

['jersey_no',
 'is_started',
 'is_onbench',
 'is_goalkeeper',
 'is_substitute',
 'minutes_played',
 'bonus_points',
 'injury_minutes_played',
 'actual_minutes_played',
 'goaltenders',
 'events.goals',
 'events.own_goals',
 'events.assists',
 'events.key_passes',
 'events.chances_created',
 'events.shots',
 'events.shots_on_target',
 'events.shots_off_target',
 'events.fouls_committed',
 'events.fouls_suffered',
 'events.yellow_cards',
 'events.red_cards',
 'events.is_second_yellow_card',
 'events.offsides',
 'events.corner_kicks',
 'events.crosses',
 'events.free_kicks',
 'events.throw_in',
 'events.punches',
 'events.catches',
 'events.goals_conceded',
 'events.clean_sheet',
 'events.cleansheet',
 'events.fantasy_assists',
 'events.penalties_saved',
 'events.penalties_earned',
 'events.penalties_conceded',
 'events.penalties_missed',
 'events.freekicks_conceded_goal',
 'events.freekicks_earned_goal',
 'events.blocked_shots',
 'events.defensive_blocked_shots',
 'events.penalty_kicks.total',
 'events.penalty_kicks.goals',
 'touches.total',
 'touches.total_passes',
 'touches.good_passes',
 'touches.bad_passes',
 'touches.interceptions',
 'touches.blocks',
 'touches.tackles',
 'touches.successful_tackles',
 'touches.unsuccessful_tackles',
 'touches.clearance',
 'touches.saves',
 'touches.take_on_total',
 'touches.take_on_successful',
 'touches.take_on_unsuccessful',
 'touches.last_man_tackle_successful',
 'touches.last_man_tackle_unsuccessful',
 'touches.successful_passes',
 'touches.interceptions_won',
 'touches.aerial_duel.total',
 'touches.aerial_duel.won',
 'touches.aerial_duel.lost',
 'touches.ground_duel.total',
 'touches.ground_duel.won',
 'touches.ground_duel.lost',
 'goaltenders.shots_faced',
 'goaltenders.shots_on_goal_faced',
 'goaltenders.goals_allowed',
 'goaltenders.saves',
 'goaltenders.catches',
 'goaltenders.punches',
 'goaltenders.penalty_kicks.shots_faced',
 'goaltenders.penalty_kicks.goals_allowed',
 'goaltenders.penalty_kicks.saves',
 'country_id',
 'height']

In [10]:
df.columns

Index(['tour_name', 'jersey_no', 'short_name', 'position_short', 'team_name',
       'is_started', 'is_onbench', 'is_goalkeeper', 'is_substitute',
       'minutes_played', 'bonus_points', 'injury_minutes_played',
       'actual_minutes_played', 'goaltenders', 'events.goals',
       'events.own_goals', 'events.assists', 'events.key_passes',
       'events.chances_created', 'events.shots', 'events.shots_on_target',
       'events.shots_off_target', 'events.fouls_committed',
       'events.fouls_suffered', 'events.yellow_cards', 'events.red_cards',
       'events.is_second_yellow_card', 'events.offsides',
       'events.corner_kicks', 'events.crosses', 'events.free_kicks',
       'events.throw_in', 'events.punches', 'events.catches',
       'events.goals_conceded', 'events.clean_sheet', 'events.cleansheet',
       'events.fantasy_assists', 'events.penalties_saved',
       'events.penalties_earned', 'events.penalties_conceded',
       'events.penalties_missed', 'events.freekicks_conceded_goal',
       'events.freekicks_earned_goal', 'events.blocked_shots',
       'events.defensive_blocked_shots', 'events.penalty_kicks.total',
       'events.penalty_kicks.goals', 'touches.total', 'touches.total_passes',
       'touches.good_passes', 'touches.bad_passes', 'touches.interceptions',
       'touches.blocks', 'touches.tackles', 'touches.successful_tackles',
       'touches.unsuccessful_tackles', 'touches.clearance', 'touches.saves',
       'touches.take_on_total', 'touches.take_on_successful',
       'touches.take_on_unsuccessful', 'touches.last_man_tackle_successful',
       'touches.last_man_tackle_unsuccessful', 'touches.successful_passes',
       'touches.interceptions_won', 'touches.aerial_duel.total',
       'touches.aerial_duel.won', 'touches.aerial_duel.lost',
       'touches.ground_duel.total', 'touches.ground_duel.won',
       'touches.ground_duel.lost', 'goaltenders.shots_faced',
       'goaltenders.shots_on_goal_faced', 'goaltenders.goals_allowed',
       'goaltenders.saves', 'goaltenders.catches', 'goaltenders.punches',
       'goaltenders.penalty_kicks.shots_faced',
       'goaltenders.penalty_kicks.goals_allowed',
       'goaltenders.penalty_kicks.saves', 'country_id', 'country_name', 'dob',
       'player_foot', 'height'],
      dtype='object')

In [11]:
df.groupby("team_name").agg({"events.goals" : ["mean", "median", "sum"]}).reset_index

<bound method DataFrame.reset_index of                     events.goals
                            mean median sum
team_name
ATK FC                  1.461538      0  38
ATK Mohun Bagan         1.214286      0  34
Bengaluru FC            1.016949      0  60
Chennaiyin FC           1.166667      0  56
FC Goa                  1.717391      0  79
Hyderabad FC            0.827586      0  48
Jamshedpur FC           0.750000      0  39
Kerala Blasters FC      0.894737      0  51
Mumbai City FC          1.254902      0  64
NorthEast United FC     0.732143      0  41
Odisha FC               0.877551      0  43
SC East Bengal          0.545455      0  18>

The team with the most goals is Hyderabad FC

In [12]:
grouped_cols = df.groupby(["tour_name", "team_name", "short_name", "position_short"]).agg({"events.goals": ["min", "max", "sum"]})

In [13]:
grouped_cols

                                                             events.goals      \
                                                                      min max
tour_name team_name      short_name           position_short
ISL6      ATK FC         Agustin Iniguez      DEF                       0   0
                         Anas Edathodika      DEF                       0   0
                         Ankit Mukherjee      DEF                       0   0
                         Arindam Bhattacharja GK                        0   0
                         Armando Sosa Pena    MF                        0   0
...                                                                   ...  ..
ISL7      SC East Bengal Scott Neville        DEF                       1   1
                         Sehnaj Singh         MF                        0   0
                         Surchandra Singh     MF                        0   0
                         Wahengbam Luwang     MF                        0   0
                         Yumnam Singh         MF                        0   0


                                                             sum
tour_name team_name      short_name           position_short
ISL6      ATK FC         Agustin Iniguez      DEF              0
                         Anas Edathodika      DEF              0
                         Ankit Mukherjee      DEF              0
                         Arindam Bhattacharja GK               0
                         Armando Sosa Pena    MF               0
...                                                           ..
ISL7      SC East Bengal Scott Neville        DEF              1
                         Sehnaj Singh         MF               0
                         Surchandra Singh     MF               0
                         Wahengbam Luwang     MF               0
                         Yumnam Singh         MF               0

[563 rows x 3 columns]

The players from each team with the most goals in ISL6 are:
    
Roy Krishna from ATK FC with 15 goals - FWD
Nerijus Valskis from Chennaiyin FC with 15 goals - FWD
Bartholomew Ogbeche from Kerala Blasters with 15 goals - FWD

Ferran Corominas from FC Goa with 14 goals - FWD

Aridane Cabrera	from Odisha FC with 9 goals - FWD
Sunil Chhetri from Bengaluru with 9 goals - FWD

Marcelo Pereira from Hyderabad FC with 7 goals - FWD
Sergio Castel from Jamshedpur FC with 7 goals - FWD

Amine Chermiti from Mumbai City FC with 6 goals - FWD

Asamoah Gyan from NorthEast United FC with 4 goals - FWD

In [14]:
grouped_cols_forminutesplayed = df.groupby(["tour_name", "team_name", "short_name", "position_short"]).agg({"actual_minutes_played": ["sum"]})

grouped_cols_forminutesplayed

                                                             actual_minutes_played
                                                                               sum
tour_name team_name      short_name           position_short
ISL6      ATK FC         Agustin Iniguez      DEF                             1154
                         Anas Edathodika      DEF                              577
                         Ankit Mukherjee      DEF                                8
                         Arindam Bhattacharja GK                              1918
                         Armando Sosa Pena    MF                               824
...                                                                            ...
ISL7      SC East Bengal Scott Neville        DEF                             1542
                         Sehnaj Singh         MF                               433
                         Surchandra Singh     MF                               765
                         Wahengbam Luwang     MF                               517
                         Yumnam Singh         MF                               122

[563 rows x 1 columns]

In [15]:
grouped_cols_forchancescreated = df.groupby(["tour_name", "team_name", "short_name", "position_short"]).agg({"events.chances_created": ["sum"]})

grouped_cols_forchancescreated

                                                             events.chances_created
                                                                                sum
tour_name team_name      short_name           position_short
ISL6      ATK FC         Agustin Iniguez      DEF                                 4
                         Anas Edathodika      DEF                                 0
                         Ankit Mukherjee      DEF                                 0
                         Arindam Bhattacharja GK                                  0
                         Armando Sosa Pena    MF                                  9
...                                                                             ...
ISL7      SC East Bengal Scott Neville        DEF                                 5
                         Sehnaj Singh         MF                                  1
                         Surchandra Singh     MF                                  5
                         Wahengbam Luwang     MF                                  2
                         Yumnam Singh         MF                                  1

[563 rows x 1 columns]

In [16]:
grouped_cols_forshots = df.groupby(["tour_name", "team_name", "short_name", "position_short"]).agg({"events.shots": ["sum"]})

grouped_cols_forshots

                                                             events.shots
                                                                      sum
tour_name team_name      short_name           position_short
ISL6      ATK FC         Agustin Iniguez      DEF                       8
                         Anas Edathodika      DEF                       0
                         Ankit Mukherjee      DEF                       0
                         Arindam Bhattacharja GK                        0
                         Armando Sosa Pena    MF                       10
...                                                                   ...
ISL7      SC East Bengal Scott Neville        DEF                       7
                         Sehnaj Singh         MF                        2
                         Surchandra Singh     MF                        3
                         Wahengbam Luwang     MF                        3
                         Yumnam Singh         MF                        2

[563 rows x 1 columns]

In [17]:
grouped_cols_forshotsontarget = df.groupby(["tour_name", "team_name", "short_name", "position_short"]).agg({"events.shots_on_target": ["sum"]})

grouped_cols_forshotsontarget

                                                             events.shots_on_target
                                                                                sum
tour_name team_name      short_name           position_short
ISL6      ATK FC         Agustin Iniguez      DEF                                 2
                         Anas Edathodika      DEF                                 0
                         Ankit Mukherjee      DEF                                 0
                         Arindam Bhattacharja GK                                  0
                         Armando Sosa Pena    MF                                  0
...                                                                             ...
ISL7      SC East Bengal Scott Neville        DEF                                 3
                         Sehnaj Singh         MF                                  0
                         Surchandra Singh     MF                                  1
                         Wahengbam Luwang     MF                                  0
                         Yumnam Singh         MF                                  0

[563 rows x 1 columns]

In [18]:
grouped_cols_forassist = df.groupby(["tour_name", "team_name", "short_name", "position_short"]).agg({"events.assists": ["sum"]})

grouped_cols_forassist

                                                             events.assists
                                                                        sum
tour_name team_name      short_name           position_short
ISL6      ATK FC         Agustin Iniguez      DEF                         0
                         Anas Edathodika      DEF                         0
                         Ankit Mukherjee      DEF                         0
                         Arindam Bhattacharja GK                          0
                         Armando Sosa Pena    MF                          1
...                                                                     ...
ISL7      SC East Bengal Scott Neville        DEF                         0
                         Sehnaj Singh         MF                          0
                         Surchandra Singh     MF                          2
                         Wahengbam Luwang     MF                          1
                         Yumnam Singh         MF                          0

[563 rows x 1 columns]

In [19]:
grouped_cols_forgoodpasses = df.groupby(["tour_name", "team_name", "short_name", "position_short"]).agg({"touches.good_passes": ["sum"]})

grouped_cols_forgoodpasses

                                                             touches.good_passes
                                                                             sum
tour_name team_name      short_name           position_short
ISL6      ATK FC         Agustin Iniguez      DEF                            214
                         Anas Edathodika      DEF                            102
                         Ankit Mukherjee      DEF                              0
                         Arindam Bhattacharja GK                              70
                         Armando Sosa Pena    MF                             238
...                                                                          ...
ISL7      SC East Bengal Scott Neville        DEF                            620
                         Sehnaj Singh         MF                             105
                         Surchandra Singh     MF                             191
                         Wahengbam Luwang     MF                             202
                         Yumnam Singh         MF                              34

[563 rows x 1 columns]

In [20]:

df["shot_accuracy"] = df['events.shots_on_target']/df['events.shots'] * 100

df["assist_accuracy"] = df["events.assists"]/df["events.chances_created"] * 100

df["minplay_goalratio"] = df["actual_minutes_played"]/df["events.goals"]
df

,tour_name,jersey_no,short_name,position_short,team_name,is_started,is_onbench,is_goalkeeper,is_substitute,minutes_played,...,goaltenders.penalty_kicks.goals_allowed,goaltenders.penalty_kicks.saves,country_id,country_name,dob,player_foot,height,shot_accuracy,assist_accuracy,minplay_goalratio
0,ISL6,3,Asamoah Gyan,FWD,NorthEast United FC,8,4,0,4,592,...,0,0,43,Ghana,NaN,NaN,NaN,50.000000,10.000000,153.250000
1,ISL6,26,Deshorn Brown,FWD,Bengaluru FC,6,7,0,7,379,...,0,0,56,Jamaica,12/22/1990,Right,187.0,42.105263,0.000000,128.333333
2,ISL6,9,Amine Chermiti,FWD,Mumbai City FC,16,6,0,5,1352,...,0,0,106,Tunisia,12/26/1987,left,177.0,45.454545,0.000000,235.833333
3,ISL6,7,Piti,MF,Jamshedpur FC,6,5,0,5,416,...,0,0,19,Spain,5/26/1981,left,179.0,43.750000,22.222222,421.000000
4,ISL6,4,Rafael Lopez Gomez,DEF,Hyderabad FC,6,5,0,4,395,...,0,0,19,Spain,4/9/1985,right,183.0,0.000000,0.000000,inf
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558,ISL7,6,Hernan Santana,MF,Mumbai City FC,18,6,0,6,1581,...,0,0,19,Spain,NaN,NaN,NaN,50.000000,0.000000,834.500000
559,ISL7,2,Scott Neville,DEF,SC East Bengal,16,2,0,0,1440,...,0,0,52,Australia,NaN,NaN,NaN,42.857143,0.000000,1542.000000
560,ISL7,4,Daniel Fox,DEF,SC East Bengal,16,5,0,4,1265,...,0,0,2,England,NaN,NaN,NaN,28.571429,28.571429,1335.000000
561,ISL7,30,N Engson Singh,MF,ATK Mohun Bagan,0,5,0,1,1,...,0,0,1,India,NaN,NaN,NaN,NaN,NaN,inf
562,ISL7,44,Haobam Singh,MF,SC East Bengal,4,20,0,4,238,...,0,0,1,India,NaN,NaN,NaN,20.000000,NaN,inf

In [21]:
grouped_cols_shotacc = df.groupby(["tour_name", "team_name", "short_name", "position_short"]).agg({"shot_accuracy": ["sum"]})

grouped_cols_shotacc

                                                             shot_accuracy
                                                                       sum
tour_name team_name      short_name           position_short
ISL6      ATK FC         Agustin Iniguez      DEF                25.000000
                         Anas Edathodika      DEF                 0.000000
                         Ankit Mukherjee      DEF                 0.000000
                         Arindam Bhattacharja GK                  0.000000
                         Armando Sosa Pena    MF                  0.000000
...                                                                    ...
ISL7      SC East Bengal Scott Neville        DEF                42.857143
                         Sehnaj Singh         MF                  0.000000
                         Surchandra Singh     MF                 33.333333
                         Wahengbam Luwang     MF                  0.000000
                         Yumnam Singh         MF                  0.000000

[563 rows x 1 columns]

In [22]:
grouped_cols_assistacc = df.groupby(["tour_name", "team_name", "short_name", "position_short"]).agg({"assist_accuracy": ["sum"]})

grouped_cols_assistacc

                                                             assist_accuracy
                                                                         sum
tour_name team_name      short_name           position_short
ISL6      ATK FC         Agustin Iniguez      DEF                   0.000000
                         Anas Edathodika      DEF                   0.000000
                         Ankit Mukherjee      DEF                   0.000000
                         Arindam Bhattacharja GK                    0.000000
                         Armando Sosa Pena    MF                   11.111111
...                                                                      ...
ISL7      SC East Bengal Scott Neville        DEF                   0.000000
                         Sehnaj Singh         MF                    0.000000
                         Surchandra Singh     MF                   40.000000
                         Wahengbam Luwang     MF                   50.000000
                         Yumnam Singh         MF                    0.000000

[563 rows x 1 columns]

In [23]:
grouped_cols_ratio_of_minutesplayed_to_goal = df.groupby(["tour_name", "team_name", "short_name", "position_short"]).agg({"minplay_goalratio": ["sum"]})

grouped_cols_ratio_of_minutesplayed_to_goal

                                                             minplay_goalratio
                                                                           sum
tour_name team_name      short_name           position_short
ISL6      ATK FC         Agustin Iniguez      DEF                          inf
                         Anas Edathodika      DEF                          inf
                         Ankit Mukherjee      DEF                          inf
                         Arindam Bhattacharja GK                           inf
                         Armando Sosa Pena    MF                           inf
...                                                                        ...
ISL7      SC East Bengal Scott Neville        DEF                       1542.0
                         Sehnaj Singh         MF                           inf
                         Surchandra Singh     MF                           inf
                         Wahengbam Luwang     MF                           inf
                         Yumnam Singh         MF                           inf

[563 rows x 1 columns]

The top 3 contenders for the best forward of the Indian Super League season 6 are:

Roy Krishna from ATK FC 
Nerijus Valskis from Chennaiyin FC
Bartholomew Ogbeche from Kerala Blasters

ROY KRISHNA                             NERIJUS VALSKIS                         BARTHOLOMEW OGBECHE     

Goals: 15                               Goals: 15                               Goals: 15
Minutes Played: 1938                    Minutes Played: 1727                    Minutes Played: 1411
    

Shots: 53                               Shots: 51                               Shots: 55
Shots on Target: 24                     Shots on Target: 24                     Shots on Target: 25

Chances Created: 31                     Chances Created: 23                     Chances Created: 9
Assist: 6                               Assist: 6                               Assist: 1

Shot Accuracy: 45.28%                   Shot Accuracy: 47.05%                   Shot Accuracy: 45.45%
Assist Accuracy: 19.35%                 Assist Accuracy: 26.09%                 Assist Accuracy: 11.11%
Minutes played to Goal Ratio: 129.00    Minutes played to Goal Ratio: 115.13    Minutes played to Goal Ratio: 94.06



IN THE INDIAN SUPER LEAGUE6
BEST FORWARD OF THE SEASON: Bartholomew Ogbeche